*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#toggle{
    opacity: 0;
}
.btn2 {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 1;
}
/* Добавление бургера */
.btn2 span,
.btn2 span:before,
.btn2 span::after {
display: block;
position: absolute;
height: 2px;
width: 100%;
background-color: white;
transition: 0.5s ease 0s;
}
.btn2 span:before{
    content: "";
    top: -8px;
}
.btn2 span::after{
    content: "";
    top: 8px;
}
.sidebar {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    padding: 80px 0;
    list-style: none;
    background-color: rgb(41, 41, 41);
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.8s ease 0s;
}
.menu__item {
    display: block;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.5s ease 0s;
    font-family: Montserrat;
}
.menu__item:hover {
    background-color: #bdbdbd;
    color: black;
}

#toggle:checked ~ .btn2 span {
    transform: rotate(45deg);
}
#toggle:checked ~ .btn2 span::before{
    top: 0;
    transform: rotate(-90deg);
}
#toggle:checked ~ .btn2 span::after{
    top: 0;
    transform: rotate(0deg);
}
#toggle:checked ~ .sidebar {
    left: 0;
    visibility: visible;
}
.subcription{
    position: relative;
}
.subcription::after{
content: '';
position: absolute;
width: 100%;
border-radius: 2px;
height: 1.5px;
background: rgb(148, 147, 147);
top: 100%;
left: 0%;

}